.DS_Store
.vscode
*.o
game
log.txt
*.pdb
*.iobj
libsteam_api.*
RCa19072
*.res
save
save.dat
config.json
steam_appid.txt
release
sdk/public
sdk/redistributable_bin
src/gamepkg.c
src/gamepkg.h
src/err_joypad.c
game.pkg

