.DS_Store
.vscode
*.o
*.obj
game
GAME.exe
GAME.exe.manifest
log.txt
*.pdb
*.iobj
libsteam_api.*
steam_api.dll
RCa19072
*.res
save
save.dat
config.json
steam_appid.txt
release
sdk/public
sdk/redistributable_bin
src/gamepkg.c
src/gamepkg.h
src/err_joypad.c
game.pkg

